{block content}
<div class="content" itemscope itemtype="http://schema.org/Person">
	<img src="{$basePath}/img/lucie_rounded.jpg" alt="Lucie Štychová - profilová fotografie" class="img-circle" width="150" height="150">
	<h1 itemprop="name">Lucie Štychová</h1>
	<p>e-mail: <a href="mailto:lucie@stychova.cz" itemprop="email">lucie@stychova.cz</a></p>
	<p>tel.: <a href="tel:%2B420724743794" itemprop="telephone" content="+420724743794">724 743 794</a></p>
</div>